<h2>Reviews for <%= getName(@cuid, @u.id) %>'s Events</h2>
<% if @rs.count == 0 %>
    <p>There are no reviews yet for this user.</p>
<% else
    @rs.each do |r| %>
        <%= getReviewSm(r) %>
    <% end
end %>
<div class="clear"></div>