<h1>Notifications</h1>

<% if @ns.count == 0 %>
  <p>There are no notifications to display</p>
<% else %>
  <%= link_to 'Delete All Notifications', '/notifications/' + current_user.id.to_s + "/9", data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <div class="clear"></div>
  <% @ns.each do |n| %>
    <%= getNotificationSm(n) %>
  <% end %>
<% end %>
<div class="clear"></div>

