<a class="btn btn-success" href="/events/new">Create New Event</a>
<div class="clear"></div>

<% @events.each do |event| %>
  <%= getEventMd(event.id, nil) %>
<% end %>
<%= will_paginate @events %>

<div class="clear"></div>
