<div class="clear gap"></div>

</div> <!-- body from header -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
  <div>
    <p>Copyright 2020 &copy; FriendMeter</p>
      <div id="social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
  </div>
</footer>
</div><!-- container from header -->
</body>
</html>