<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class=" text-center">
    <strong>Copyright 2020 &copy; Universal Food Shop</strong>
      <div class="col-md-6 offset-md-3">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
  </div>
</footer>
</body>
</html>