@import "reset";

@import "bootstrap-sprockets";
@import "bootstrap";

//navbar (header for all pages) code
@import "nav";

//footer for all pages code
@import "footer";

//forms css
@import "forms";

//maps css
@import "maps";

//orders css
@import "orders";

@import "carousel";

html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    font-family:"Cambria", "Open Sans";
}

#body {
    padding-bottom:120px;
}

#container {
    min-height:100%;
    position:relative;
    margin-top:58px;
}

.clear {
    clear:both;
}

h1, h2, h3 {
    text-align:center;
}

h1 {
    font-family:onyx;
    font-size:48px;
    color:#030;
}

.desc p {
    font-size:22px;
    padding:30px;
}

.comment, .review {
    width:650px;
    margin:auto;
    img {
        max-width:100px;
    }
    .name {
        font-weight:bold;
        &.you {
            color:blue;
        }
        &.other {
            color:green;
        }
        &.creator {
            color:red;
        }
    }
}

#alert, #notice {
    display:none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert:empty, .notice:empty {
	display: none;
}

.profile img, .events img {
    max-width:150px;
}

//view cards
.user-sm, .event-sm, .review-sm, .comment-sm, .notification-sm, .event-md, .profile-l, .event-l {
    border:1px solid #efefef;
    margin-bottom:10px;
    padding:10px;
    a {
        text-decoration:none;
    }
    p {
        text-align:center;
        color:#7c8690;
        font-weight:bold;
        
        &.name {
            color:#1969b0;
        }
        &.image {
            height:200px;
        }
        &.red {
            color:#ef3739;
        }
        &.green {
            color:green;
        }
    }
    img {
        max-width:100%;
        max-height:200px;
        margin:auto;
    }
}

.review-sm {
    img {
        display:block;
    }
}

//must be after .comment/.review img, .review-sm img and .event img
.rating img {
    max-width:15px !important;
    display:inline;
}

.profile-l, .event-l {
    margin:10px;
    img {
        max-width:300px;
    }
    p {
        &.image {
            width:300px;
            margin:auto;
        }
    }
}

//featured users/events
.featured {
    h2 {
        background-color:#49b8cc;
        color:#fff;
        border:1px solid #49b8cc;
        border-radius:25px 25px 0px 0px;
    }
}

//bootstrap buttons
a.btn, button {
    margin:5px;
}