@import "fonts.scss";

.navbar-brand {
}
.navbar {
  .nav {
    letter-spacing: 3px;
    font-size: 1.2rem;
    max-width: 100%;
  }
}
.navbar-inverse {
  background-color: #333;
}
.navbar-collapse {
  max-height: none !important;
}
.navbar-inverse {
  background-image: none;
  border-color: #CCC;
  .navbar-nav {
    >li {
      >a {
        color: #FFF;
        font-size: 14px;
        .caret {
          border-top-color: #FFF;
          border-bottom-color: #FFF;
        }
        &:hover, &:focus, .active {
          background-color: #DDD;
          color: #333;
          .caret {
            border-top-color: #333;
            border-bottom-color: #333;
          }
        }
      }
    }
  }
}
.dropdown-menu {
  background-color: #DDD;
  color: #333;
  display: none;
  position: absolute;
  z-index: 1;
  li a {
    &:hover, &:focus {
      background-color: #EEE;
      background-image: none;
    }
  }
}
.navbar-toggle {
  background-color: #333 !important;
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}
a.navbar-brand {
  margin: 0px;
  padding: 0px;
}
img.logo {
  width: 150px;
}
li.blue {
  background-color: #CCC;
}